
.counter{
    margin: 20px auto;
    padding-bottom: 5px;
  }
.counter h1 {
    text-decoration: none;
    color: #999;
    font-size: 18px;
  }
.list__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    list-style-type: none;
}