.header {
    height: 70px;
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  
  }
  .container {
    margin: 0 auto;
    width: 900px;
    height: 100%;
    display: flex;
  }
  .header-nav {
    text-align: center;
    margin: 40px auto;
  }
  .header-nav a {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    color: #999;
    font-size: 16px;
  }
  a.router-link-active {
    border-bottom: 2px solid #35df90;
    padding-bottom: 4px;
    color: #35df90;
  }
  